[Desktop Entry]
Version=1.0
Name=Manage Web Apps
Comment=Manage sandboxed web app launchers
Exec=webapp-center
Terminal=false
Type=Application
Icon=applications-internet
Categories=Network;Utility;
StartupNotify=true
