[Desktop Entry]
Version=1.0
Name=GitHub
Comment=Code hosting & collaboration -- web app
Exec=launch-webapp https://github.com
Terminal=false
Type=Application
Icon=github
Categories=Development;WebBrowser;
StartupNotify=true
